@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

*{
    font-family:'Noto Sans TC', sans-serif;
}

body{
    background-image: url(loginbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
    color: rgb(255, 255, 255);

}

form{
    width: 500px;
    border: 2px solid #ccc;
    background-color: none;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(228, 241, 166);
}

form input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 2px auto;
    border-radius: 15px;
}

label{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px;
}

.submit{
    float: right;
    background-color: #888;
    border:1px solid #888;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}

.ca{
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #888;
}
.ca:hover{
    text-decoration: underline;
}

button:hover{
    background-color: rgb(228, 241, 166);
    transition: 2s;
}

.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.success{
    background: #40754c;
    color: #ffffff;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

